.text-shown {
    overflow: auto;
}

.text-shown .reveal {
    position: fixed;
    left: 5%;
    width: 50%;
    box-shadow: 0 0 16px black;
}

.text-shown .text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120%;
    position: absolute;
    width: 35%;
    left: 60%;
    color: #3F3F3F;
    line-height: 1.5em;
}

.text-hidden .text {
    display: none;
}

.text-shown .text .keywords {
    border: 1px solid DarkKhaki;
    border-radius: 8px;
    background-color: Khaki;
    list-style-type: square;
    padding: 1em 2em;
}

@media screen and (max-width: 800px) {
    .text-shown {
        overflow: hidden;
    }
    .text-shown .reveal {
        z-index: 1024;
        left: 0;
        width: 100%;
        height: 50%;
        box-shadow: 0 0 16px black;
    }
    .text-shown .text {
        font-size: 14px;
        width: 100%;
        height: 50%;
        left: 0;
        top: 50%;
        overflow: auto;
    }
    .text-shown .text div {
        padding: 1em 2em;
    }
}

/* fixing some stuff */

.reveal pre {
    background-color: #3F3F3F
}


/* additional stuff */

.reveal .header {
    font-family: Georgia, serif;
    text-transform: none;
    opacity: 0.5;
    border-bottom: 1px solid black;
    padding: 0;
    margin-bottom: 1em;
}

.reveal .flex, .reveal .flex-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reveal .flex {
    justify-content: center;
}

.reveal .flex-left {
    justify-content: flex-start;
}

.reveal .readable {
    font-family: Georgia, serif;
    text-transform: none;
}

.reveal .no-border {
    border: none;
    box-shadow: none;
}

.reveal .minor {
    font-size: 80%;
}

.reveal hr {
    border: none;
    height: 2px;
    background-color: black;
    border-radius: 2px;
}

.reveal .contrast-bright {
    color: white;
    text-shadow: 0 2px 2px black, 0 -2px 2px black, 2px 0 2px black, -2px 0 2px black, 0 4px 8px black;
}

.reveal .contrast-bright h1, .contrast-bright h2, .contrast-bright h3 {
    color: white;
    text-shadow: 0 2px 2px black, 0 -2px 2px black, 2px 0 2px black, -2px 0 2px black, 0 4px 8px black;
}

.reveal .slidebackground .darker-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

img[src="me.jpg"] {
    width: 120px;
    height: 160px;
    float: right;
}

.reveal .project-cartoon {
    width: 128px;
    height: 192px;
}

.reveal .project-cartoon img {
    font-size: 14px;
    margin: 0;
}

.reveal .project-cartoon p {
    font-size: 14px;
    margin: 0;
}

.reveal .customer, .reveal .customer-idea, .reveal .customer-talking, .reveal .development, .reveal .development-talking, .reveal .development-male, .reveal .development-female, .reveal .qa, .reveal .qa-talking {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    margin-left: -160px;
    width: 320px;
    height: 400px;
    position: absolute;
    text-align: center;
}

.reveal .customer {
    background-image: url('customer.png');
}

.reveal .customer-idea {
    background-image: url('customer-idea.png');
}

.reveal .customer-talking {
    background-image: url('customer-talking.png');
}

.reveal .development {
    background-image: url('developers.png');
}

.reveal .development-talking {
    background-image: url('developers-talking.png');
}

.reveal .development-male {
    background-image: url('male-developer.png');
}

.reveal .development-female {
    background-image: url('female-developer.png');
}

.reveal .qa {
    background-image: url('qa.png');
}

.reveal .qa-talking {
    background-image: url('qa-talking.png');
}

.reveal .references {}

.reveal .image-reference {
    font-size: 10px;
    float: left;
    width: 320px;
    text-align: center;
}

.reveal .image-reference img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    margin: 0 auto;
}
